<div class="login-container">

    <h2>Employee Login</h2>
    <form #loginform="ngForm" (ngSubmit)="login()">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
      <button type="submit">Login</button>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div style="padding-bottom: 10px;">
        
      
        <a style="float: right;" routerLink='/create'>Create Account</a>
        
      </div>
    </form>
  </div>
  