
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">Welcome</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink='/employee/empdashboard' class="nav-link active" aria-current="page">
              
              Home
            </a>
          </li>

          <li>
            <a routerLink='/employee/emplist' class="nav-link text-white">
              
              View employees
            </a>
          </li>

          <li>
            <a routerLink='/employee/editemployee' class="nav-link text-white">
              
              Edit Details
            </a>
          </li>

        </ul>
        <hr>
        <div>
          <button (click)="logout()" class="nav-link text-white">
            <img src="https://www.freeiconspng.com/thumbs/power-button-icon/power-button-icon-31.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Logout</strong>
          </button>
        </div>
      </div>
    </main>
